.card{
    margin-left:2.5%;
    margin-right: 2.5%;
    margin-top:3vw;
    border-radius: 2vw;
    text-align: center;
    cursor: pointer;
}
.card-img-top{
    border-top-left-radius:2vw;
    border-top-right-radius:2vw;

}

.card-title{
    font-size: 1.5vw;
    color: white;
}
.card-body{
    background-color: #414141;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.pageTable{
    margin-left:42%;
    margin-top:2%;
}