<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a  class="ml-5 navbar-brand" href="#">HCISERA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="margin-left:10%" class="mr-5 collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li style="margin-right: 5vw" class="nav-item ">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a style="width: 200%" class="nav-link" [routerLink] = "['courses']">Courses</a>
      </li>
      
    </ul>
    <div style="width:60%" class="form-inline ">
      <input style="width:80%; display: inline-block;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button style="display:inline-block" class="btn btn-primary my-2 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
    </div>
    <button class="btn btn-outline-primary my-2 my-sm-0" > Login</button>    <button  class="ml-3 mr-3 btn btn-primary my-2 my-sm-0" > Signup</button>

  </div>
</nav>
<router-outlet></router-outlet>