tab{
    font-size: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;

}

::ng-deep .customClass > a {
    border-bottom: none !important;
    outline: 0 !important; 
    color: black;
    font-size: 1vw;
    margin-left: 14vw;
    text-align: center;
  }
  
  