<div>
<img class="mt-2" style="height: 35vw;width: 100%" src="../../assets/kid.png">
</div>
<div style="margin-left:10vw;margin-right:10vw; margin-top:2vw;text-align: center">
        <tabset  >
          <tab customClass="customClass" heading="Coursework" id="tab1">Each course is like an interactive textbook, featuring pre-recorded videos, quizzes, and projects.

            </tab>
          <tab  customClass="customClass" heading="Help & Support">Connect with thousands of other learners and debate ideas, discuss course material, and get help mastering concepts.
            </tab>
          <tab  customClass="customClass" heading="Certificates">Earn official recognition for your work, and share your success with friends, colleagues, and employers.            </tab>
        </tabset>
</div>
